#Calc{
  background-color: rgb(5, 4, 4) ;
  color: aliceblue;
  margin: 40px;
  
  text-align: center;
  

}


.secondCard{
  background-color: blueviolet;
  padding: 10px;
  color: aliceblue;
}
.pianobtn{
  height: 200px;
  box-shadow: 0 0 20px black;
}
.pianobtn:hover{
  color: white;
  background-color: black;
  
}

.pianobtn:active{
  transform: scale(0.9);
  transition: 0.5s;
}